

/*select dropdown styles */

.select_wrapper { height: 35px; left: 0; position: absolute; top: 20px; width: 249px; }
	.select_wrapper .select { position: absolute; top: 0; width: 100%; }
	.select_wrapper a { text-decoration:none; }
	.select_wrapper .focus { outline:none; }
.select_wrapper.light.thin {
	width:145px;
	/*float:left;margin-right:125px;*/
}
.run-options-wrapper .select_wrapper.light.thin {
	float:right;
	width:145px;
	margin:0;
}
.select_wrapper div.select.focus { / *outline: 1px dotted #aaa;* / }
.select_wrapper select { position: absolute; left:-10000px; }

.select_wrapper.shoe_tag a, .select_wrapper.run-options a {
	font-size:14px;
	color:#7d7d7d;
	font-weight:bold;
}
.select_wrapper.light.thin a { color: #333; }
.select_wrapper .closed { 
	-webkit-box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
	box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
	z-index: 1; 
}

.select_wrapper.light.thin .closed, .select_wrapper.light.thin .opened .current_value {
	background:url(/plus/web/images/activity_running/detail/runSprite.png) no-repeat -380px -244px;
	
	font-weight:normal !important;
	font-size:14px;
	text-transform:uppercase;
	line-height:30px;
	text-indent:10px;
}

.select_wrapper.light.thin .closed, .select_wrapper.light.thin .opened .current_value {
	background-image: none;
	background-color: #fff;
}
.select_wrapper.light.thin .opened .current_value {
	background-color: #eee;
}
.select_wrapper.light.thin .closed .triangle, .select_wrapper.light.thin .opened .triangle { right: 13px; top: 13px; }

.select_wrapper.light.thin .closed .triangle.down { border-top: 3px solid #333; border-right: 3px solid transparent; border-left: 3px solid transparent; }
.select_wrapper.light.thin .opened .triangle.up { border-bottom: 3px solid #333; border-right: 3px solid transparent; border-left: 3px solid transparent; }

.select_wrapper.shoe_tag .closed, .select_wrapper.shoe_tag .opened .current_value,
.select_wrapper.run-options .closed, .select_wrapper.run-options .opened .current_value {
	display:block;
	height:30px;
	line-height:30px;
	width:100%;
	text-indent:10px;
	background-color: #fff; 
	
	background-color: #ffffff;
	background-image: -webkit-gradient(linear, left top, left bottom, from(#ffffff), to(#f2f2f2)); 
	background-image: -webkit-linear-gradient(top, #ffffff, #f2f2f2); 
	background-image:    -moz-linear-gradient(top, #ffffff, #f2f2f2); 
	background-image:     -ms-linear-gradient(top, #ffffff, #f2f2f2); 
	background-image:      -o-linear-gradient(top, #ffffff, #f2f2f2); 
	background-image:         linear-gradient(top, #ffffff, #f2f2f2);
	filter: progid:DXImageTransform.Microsoft.gradient(startColorStr='#ffffff', EndColorStr='#f2f2f2'); 

	-moz-border-radius: 5px; -webkit-border-radius: 5px; border-radius:5px;
	border:1px solid #c6c6c6;
	
	
}

.select_wrapper .closed .current_value:hover {
	background-color: #eee;
	/*-webkit-box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.2);
	box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.2);*/
	border-radius: 5px;
}

.select_wrapper .closed a, .select_wrapper .opened .current_value a {
	display:block;
	height:30px;
}

.select_wrapper .opened {
	display: none; position: absolute; width: 100%; z-index: 999;
	-webkit-box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
	box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
}

.select_wrapper.opened .closed {
	display:none;
}

.select_wrapper.opened .opened {
	display:block;
}

.select_wrapper.run-options .opened .current_value,
.select_wrapper.shoe_tag .opened .current_value {
	-moz-border-radius-topleft: 5px;
	-moz-border-radius-topright: 5px;
	border-top-left-radius: 5px;
	border-top-right-radius: 5px;
	-moz-border-radius-bottomleft: 0px;
	-moz-border-radius-bottomright: 0px;
	border-bottom-left-radius: 0px;
	border-bottom-right-radius: 0px;
}
.select_wrapper.light.thin .opened .possible_values {
	background-color: #eee;
}

.select_wrapper.run-options .opened .possible_values,
.select_wrapper.shoe_tag .opened .possible_values
 {
	display:block;
	max-height:200px;
	overflow-y:auto;
	background: #fff; 

	-moz-border-radius-bottomleft: 5px;
	-moz-border-radius-bottomright: 5px;
	border-bottom-left-radius: 5px;
	border-bottom-right-radius: 5px;

	border-bottom:1px solid #e6e6e9;
	border-left:1px solid #c6c6c6;
	border-right:1px solid #c6c6c6;
	width:100%;
}


.select_wrapper .opened .possible_values a {
	display:block;
	text-indent:10px;
	height:20px;
	line-height:20px;
	padding:5px 0;
	border-bottom:1px solid #e6e6e9;
}
.select_wrapper.light.thin .opened .possible_values a {
	border:none;
	cursor:pointer;
	text-transform:uppercase;
}

.select_wrapper.light.thin .opened .possible_values a:last-child:hover {
	-webkit-border-bottom-right-radius:5px;-moz-border-bottom-right-radius:5px;-o-border-bottom-right-radius:5px;-ms-border-bottom-right-radius:5px;border-bottom-right-radius:5px;
	-webkit-border-bottom-left-radius:5px;-moz-border-bottom-left-radius:5px;-o-border-bottom-left-radius:5px;-ms-border-bottom-left-radius:5px;border-bottom-left-radius:5px;
}

.select_wrapper a .value{
	color:#79cc00;
	margin-right:45px;
}

.select_wrapper .opened .possible_values a.last, 
.select_wrapper .opened .possible_values.mouse a.last:hover {
	color:#fff;
	background:#79cc00 url(/plus/web/images/activity_running/detail/runSprite.png) no-repeat -773px -132px;
	padding-left:20px;
}
.select_wrapper.light.thin .opened .possible_values.mouse a {
	z-index: 20;
}
.select_wrapper.light.thin .opened .possible_values.mouse a:hover {
	background-color: #fff;
	-webkit-box-shadow: 0 0 5px #ddd;
	box-shadow: 0 0 5px #ddd;
	z-index: 21;
}

.select_wrapper .opened .possible_values.mouse a:hover {
	background:#f0f0f0;
}

.select_wrapper div.mouse a.selected {
	background:transparent;
}
