@font-face {
	font-family: 'AlternateBoldFont';
	src: url('http://nikeplus.nike.com/plus/web/fonts/AlternateBoldFont/alternateboldfont-webfont.eot');
	src: url('http://nikeplus.nike.com/plus/web/fonts/AlternateBoldFont/alternateboldfont-webfont.eot?#iefix') format('embedded-opentype'),
		 url('http://nikeplus.nike.com/plus/web/fonts/AlternateBoldFont/alternateboldfont-webfont.woff') format('woff'),
		 url('http://nikeplus.nike.com/plus/web/fonts/AlternateBoldFont/alternateboldfont-webfont.ttf') format('truetype'),
		 url('http://nikeplus.nike.com/plus/web/fonts/AlternateBoldFont/alternateboldfont-webfont.svg#AlternateBoldFont') format('svg');
	font-weight: normal;
	font-style: normal;
}
#nikeplus #main ul.trophies, #nikeplus #main ul.shirt {
	display: block;
	margin-bottom: 10px;
	}
#nikeplus #main ul.trophies li { background: none;}
#nikeplus #main ul.trophies li span.icon { background-image: url("../images/nikeplus/nike_plus_badge_trophy_achievement_collection_list.png"); background-repeat: no-repeat; width: 100px; height: 110px; display: block; margin: 0 auto; text-align: center; font-size: 28px; line-height: 110px; }
#nikeplus #main ul.trophies li span.alt_header_font { font-family: 'AlternateBoldFont', Arial, Verdana, sans-serif; }
#nikeplus #main ul.trophies li.milestone span.icon { color: #ffffff; background-position: 0px -110px; }
#nikeplus #main ul.trophies li.milestone.dark span.icon { color: #ffffff; background-position: 0px -990px; }
#nikeplus #main ul.trophies li.milestone.white span.icon { color: #262626; background-position: 0px -770px; }
#nikeplus #main ul.trophies li.milestone.black span.icon { color: #85E200; background-position: 0px -880px; }
#nikeplus #main ul.trophies li.time span.icon { background-position: 0px 0px; color: #262626; line-height: 110px; }
#nikeplus #main ul.trophies li.time.time500 span.icon { background-position: 0px -1100px; color: #b7b7b7; }
#nikeplus #main ul.trophies li.supergoal.water span.icon { background-position: 0px -220px; }
#nikeplus #main ul.trophies li.supergoal.ice span.icon { background-position: 0px -330px; }
#nikeplus #main ul.trophies li.supergoal.supernova span.icon { background-position: 0px -440px; }
#nikeplus #main ul.trophies li.supergoal.rainbow span.icon { background-position: 0px -550px; }
#nikeplus #main ul.trophies li.supergoal.fire span.icon { background-position: 0px -660px; }

#nikeplus #main ul.trophies li.epic_day_8k  span.icon { background-position: -100px -1206px; }
#nikeplus #main ul.trophies li.epic_day_10k span.icon { background-position: -100px -1315px; }
#nikeplus #main ul.trophies li.epic_day_15k span.icon { background-position: -100px -1426px; }
#nikeplus #main ul.trophies li.epic_day_20k span.icon { background-position: -100px -1535px; }
#nikeplus #main ul.trophies li.missions span.icon { background-position: 0px -1650px; }

#nikeplus #main ul.trophies li.highmile.highmile-bronze span.icon { background-position: -300px -440px; }
#nikeplus #main ul.trophies li.highmile.highmile-silver span.icon { background-position: -300px -550px; }
#nikeplus #main ul.trophies li.highmile.highmile-gold span.icon { background-position: -300px -660px; }
#nikeplus #main ul.trophies li.highmile.highmile-platinum span.icon { background-position: -300px -770px; }
#nikeplus #main ul.trophies li.highmile.highmile-bronze.km span.icon { background-position: -300px 0px; }
#nikeplus #main ul.trophies li.highmile.highmile-silver.km span.icon { background-position: -300px -110px; }
#nikeplus #main ul.trophies li.highmile.highmile-gold.km span.icon { background-position: -300px -220px; }
#nikeplus #main ul.trophies li.highmile.highmile-platinum.km span.icon { background-position: -300px -330px; }

#nikeplus #main ul.trophies li.leaderboard-local-legend span.icon { background-position: -100px -440px; }
#nikeplus #main ul.trophies li.leaderboard-speed-demon span.icon { background-position: -100px -550px; }

#nikeplus #main ul.trophies li.location-intercontinental span.icon { background-position: -100px -660px; }
#nikeplus #main ul.trophies li.location-comfort-zone span.icon { background-position: -100px -770px; }

#nikeplus #main ul.trophies li.delight-el-fiesta span.icon { background-position: -200px 0px; }
#nikeplus #main ul.trophies li.delight-early-bird span.icon { background-position: -200px -110px; }
#nikeplus #main ul.trophies li.delight-extra-frosting span.icon { background-position: -200px -220px; }
#nikeplus #main ul.trophies li.delight-chocolate span.icon { background-position: -200px -330px; }
#nikeplus #main ul.trophies li.delight-dragon span.icon { background-position: -200px -440px; }
#nikeplus #main ul.trophies li.delight-resolution span.icon { background-position: -200px -550px; }
#nikeplus #main ul.trophies li.delight-double-pleasure span.icon { background-position: -200px -660px; }
#nikeplus #main ul.trophies li.delight-sneaker-head span.icon { background-position: -200px -770px; }
#nikeplus #main ul.trophies li.delight-sleepwalker span.icon { background-position: -200px -880px; }
#nikeplus #main ul.trophies li.delight-beachbum span.icon { background-position: -200px -990px; }
#nikeplus #main ul.trophies li.delight-mailman span.icon { background-position: -200px -1100px; }
#nikeplus #main ul.trophies li.delight-beaten-path span.icon { background-position: -200px -1210px; }
#nikeplus #main ul.trophies li.delight-uncle-sam span.icon { background-position: -200px -1320px; }
#nikeplus #main ul.trophies li.delight-zombie span.icon { background-position: -200px -1430px; }
#nikeplus #main ul.trophies li.delight-anniversary span.icon { background-position: -200px -1540px; }

#nikeplus #main ul.trophies li.first-marathon span.icon { background-position: -200px -880px; }
#nikeplus #main ul.trophies li.half-marathon span.icon { background-position: -200px -880px; }

#nikeplus #main ul.trophies li.frequency-3-in-wk span.icon { background-position: -400px 0px; }
#nikeplus #main ul.trophies li.frequency-5-in-wk span.icon { background-position: -400px -110px; }
#nikeplus #main ul.trophies li.frequency-7-in-wk span.icon { background-position: -400px -220px; }
#nikeplus #main ul.trophies li.frequency-3-wk span.icon { background-position: -400px -330px; }
#nikeplus #main ul.trophies li.frequency-4-wk span.icon { background-position: -400px -440px; }
#nikeplus #main ul.trophies li.frequency-6-wk span.icon { background-position: -400px -550px; }
#nikeplus #main ul.trophies li.frequency-all-mo span.icon { background-position: -400px -770px; }

#nikeplus #main ul.trophies li.fuel-best-day span.icon { background-position: -500px 0px; }
#nikeplus #main ul.trophies li.fuel-longest-streak span.icon { background-position: -500px -110px; }
#nikeplus #main ul.trophies li.fuel-best-month span.icon { background-position: -500px -220px; }
#nikeplus #main ul.trophies li.fuel-best-week span.icon { background-position: -500px -330px; }
#nikeplus #main ul.trophies li.fuel-best-monday span.icon { background-position: -500px -440px; }
#nikeplus #main ul.trophies li.fuel-best-tuesday span.icon { background-position: -500px -550px; }
#nikeplus #main ul.trophies li.fuel-best-wednesday span.icon { background-position: -500px -660px; }
#nikeplus #main ul.trophies li.fuel-best-thursday span.icon { background-position: -500px -770px; }
#nikeplus #main ul.trophies li.fuel-best-friday span.icon { background-position: -500px -880px; }
#nikeplus #main ul.trophies li.fuel-best-saturday span.icon { background-position: -500px -990px; }
#nikeplus #main ul.trophies li.fuel-best-sunday span.icon { background-position: -500px -1100px; }

#nikeplus #main ul.trophies li.social-butterfly span.icon { background-position: -100px -880px; }
#nikeplus #main ul.trophies li.social-celebrity span.icon { background-position: -100px -990px; }

#nikeplus #main ul.trophies li.run-more-miles span.icon { background-position: -400px -880px; }
#nikeplus #main ul.trophies li.run-more-often span.icon { background-position: -400px -990px; }
#nikeplus #main ul.trophies li.run-burn-calories span.icon { background-position: -400px -1540px; }
#nikeplus #main ul.trophies li.run-fuel-up span.icon { background-position: -500px -1540px; }

#nikeplus #main ul.trophies li.streak-3-weeks span.icon { background-position: -400px -330px;  }
#nikeplus #main ul.trophies li.streak-4-weeks span.icon { background-position: -400px -438px;  }
#nikeplus #main ul.trophies li.streak-5-weeks span.icon { background-position: -400px -1100px; }
#nikeplus #main ul.trophies li.streak-6-weeks span.icon { background-position: -400px -550px;  }
  
#nikeplus #main ul.trophies li.streak-3-months span.icon { background-position: -400px -660px; }
#nikeplus #main ul.trophies li.streak-6-months span.icon { background-position: -400px -1210px;  }
#nikeplus #main ul.trophies li.streak-9-months span.icon { background-position: -400px -1320px;  }
#nikeplus #main ul.trophies li.streak-12-months span.icon { background-position: -400px -1430px; }

#nikeplus #main ul.trophies li.olympic span.icon { background-position: -100px -1100px; }
#nikeplus #main ul.trophies li.fuel-hurricane-sandy13 span.icon { background-position: -300px -1645px; }
#nikeplus #main ul.trophies li.running_race_winner span.icon { background-position: -400px -1641px; }
#nikeplus #main ul.trophies li.running_race_finisher span.icon { background-position: -500px -1642px; }

#nikeplus #main ul.trophies li.pr_workout_timemilestone   span.icon,
#nikeplus #main ul.trophies li.velocity_session_current_streak   span.icon {
	line-height:105px;
	font-size:25px; 
	background-position:2px -1200px;
	color:#000; 
}
#nikeplus #main ul.trophies li.pr_workout_timemilestone.sm    span.icon{
	font-size:18px !important;
}  
#nikeplus #main ul.trophies li.pr_workout_timemilestone.dark   span.icon,
#nikeplus #main ul.trophies li.velocity_session_current_streak.dark   span.icon {
	font-size:25px; 
	background-position: 1px -1308px; 
	color:#fff;
} 

#nikeplus #main ul.trophies li.pr_workout_timemilestone span.icon .subtext,
#nikeplus #main ul.trophies li.velocity_session_current_streak span.icon .subtext{
	text-transform:uppercase;
	color:#fff;
	position:relative;
	top:-93px;
	font-size:10px;
	line-height:10px;
}   

#nikeplus #main ul.trophies li.pr_hyperwarm span.icon { background-position: 0px -1650px; }

#nikeplus #main ul.trophies li.pr_workout_best_weekly_duration span.icon {background-position:-100px -2px;}
#nikeplus #main ul.trophies li.pr_workout_best_weekly_fuel span.icon {background-position:-100px -223px;}
#nikeplus #main ul.trophies li.velocity_agg_longest_duration span.icon {background-position:-100px -112px;}
#nikeplus #main ul.trophies li.velocity_challenge_of_the_week_10_complete span.icon {background-position:-500px -1212px;}
#nikeplus #main ul.trophies li.velocity_challenge_of_the_week_20_complete span.icon {background-position:-500px -1324px;}
#nikeplus #main ul.trophies li.pr_velocity_fuel_print_improved_three_times_in_a_row span.icon {background-position:0px -1540px;}
#nikeplus #main ul.trophies li.pr_velocity_improved_athleticism_score span.icon {background-position:-500px -1431px;}
#nikeplus #main ul.trophies li.pr_velocity_improved_fitness_score span.icon	{background-position:0 -1430px;}
#nikeplus #main ul.trophies li.kinect_social_butterfly span.icon {background-position:-100px -335px;}